{% extends 'base.html' %}

{% block content %}
    {% if object %}
  <h1 id="h1_edit">Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
  <h1 id="h1_add">Add a Cake!</h1>
  {% endif %}
  <form enctype="multipart/form-data" action="" method="POST">
    {% csrf_token %}
    <div class="form-group" id="form_div">
    <table id="form_table" >
      {{ form.as_table }}
      
    </table>
    <br>
    <input class="choose-file" type="file" name="photo-file">
    <br><br>
    <input type="submit" value="Create" class="btn">
    </div>
  </form>
{% endblock %}