{% extends 'base.html' %}
{% block content %}

<h1>{{ cake.name }}</h1>


<div class="card">
    <div class="card-content">
      <span class="card-title">{{ cake.name }}</span>
      <br>
      <p>Date: {{ cake.date }}</p>
      <br>
      <p>Description: {{ cake.description }}</p>
      <br>
      <p>Recipe: {{ cake.recipe }}</p>
      <br>
      <p>Created By: {{ cake.user.username }}</p>
      <br>
      {% for tag in cake.tags.all %}
        <a href="{% url 'cakes_by_tag' tag.slug %}">{{tag.name}}</a>
        {% endfor %}
    </div>
    <div class="card-action">
        <a href="{% url 'cakes_update' cake.id %}">Edit</a>
        <a href="{% url 'cakes_delete' cake.id %}">Delete</a>
      </div>
  </div>

{% endblock %}