{% extends 'base.html' %}
{% block content %}

<h1 id="h1_tag">{{tag}} </h1>

<div class="container">
  <div class="row">
    {% for cake in cakes %}
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">
          <div class="card border-0">
            {% for photo in cake.photo_set.all|slice:":1" %}
            <a href="/cakes/{{ cake.id }}"><img class="card-img-top" id="idx-img" src="{{photo.url}}" alt="cake"></a>
            {% empty %}
            <a href="/cakes/{{ cake.id }}"><img class="card-img-top" id="idx-img" src="https://images.unsplash.com/photo-1557925923-cd4648e211a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=686&q=80" alt="cake"></a>
            {% endfor %}
              <div class="card-body">
                  <h5 class="card-title">{{ cake.name }}</h5>
                  <p class="card-text">{{ cake.description }}</p>
                  <a href="/cakes/{{ cake.id }}" class="btn btn-outline-primary btn-sm" id="see-btn">See Details</a>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}