{% extends 'base.html' %}
{% block content %}


<body class="home-body">
    <div style="background-image: url('https://i.imgur.com/1lK0QoN.jpg')" class="home-container" id="cupcakepic">
      
        <div class="text-bg" id="text-bg">
            <div id="about-txt">
                <p id="contact">Contact Us</p>
                <p id="phone">By Phone: 1-800-619-4252</p>
                <p id="email">By Email: OnlyCakesServices@gcakes.com</p>
                <p id="oc">Only Cakes&trade;</p>
                <p id="mission">A sweet platform for cake enthusiasts to share recipes and find insporation for future baking endeavors</p>
            </div>
        </div>
    </div>
  </body>


{% endblock %}