.navbar-custom {
    background-color: rgb(215, 219, 220);
}

.navbar-text {
    color: black;
}

.collapse {
    justify-content: left;
    margin-left: 3rem;
}

.btn {
    border-color: black;
}

.slogan {
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
}

.pslogan {
    justify-content: center;
    text-align: center;
    margin-top: 12rem;
    font-size: 22px;
}

.home-container {
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-position: center;
}

.slogansss {
    display: grid;
    margin-top: -1.3rem;
    justify-content: center;
}

.slogan3 {
    font-size: 18px;
}

.form-table {
    display: inline-block;
}

.card-img-top {
    object-fit: fill; 
    object-position: center;
    width: 100%;
    max-height: 350px;
}

.card {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin-top: 1rem;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}

#detail-card.card {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 500px;
    margin-top: 1rem;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}

#detail-pic {
    margin-top: 2rem;
}

#detail-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5rem;
}