.navbar-custom {
    background-color: rgb(215, 219, 220);
}

.navbar-text {
    color: black;
}

#navbarNavDropdown {
    justify-content: right;
}

.collapse {
    justify-content: left;
}

.btn {
    border-color: black;
}

.home-body {
    overflow-y:hidden;
}

.search-set {
    display: flex;
    justify-content: left;
}

#search-bar {
    background-color: rgb(215, 219, 220); 
    border: 2px solid #fff; 
    box-shadow: none; 
    border-radius: 50px;
    font: rgb(1, 1, 1);
}

#search-button {
    background-color: rgb(215, 219, 220); 
    border: 2px solid #fff; 
    box-shadow: none; 
    border-radius: 50px;
    color: rgb(127, 127, 127);
}

.slogan {
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
}

.pslogan {
    justify-content: center;
    text-align: center;
    margin-top: 12rem;
    font-size: 22px;
}

.home-container {
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.slogansss {
    display: grid;
    margin-top: -1.3rem;
    justify-content: center;
}

.slogan3 {
    font-size: 18px;
}

.form-table {
    display: inline-block;
}

.card-img-top {
    object-fit: cover; 
    object-position: center;
    width: 100%;
    height: 260px;
    width: 260px;
    align-items: start;
}
.card-img-top:hover {
    opacity: 0.5;
}

.card {
    display: grid;
    justify-items: center;
    justify-content: center;
    height: 470px;
}

.card-body {
    align-items: end;
    padding: 0 16px;
    height: 150px;
}
.card-title {
    margin: 3px 0px 0px 0px;
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
    margin: 0;
}

#detail-card.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 800px;
    width: 500px;
    margin-top: 1rem;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}

#detail-pic {
    align-items: center;
    margin-top: 2rem;
    max-width: 100%;
}

#detail-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5rem;
}

.choose-file {
    width: 210px;
}

#file-upload-button {
    background-color:blue;
}

.card-body {
    display: grid;
    margin-top: -6rem;
    /* justify-content: center; */
    text-align: center;
}

#det-pic {
    margin-top: 9rem;
}

#det-desc {
    padding: 15px;
}

#text-bg {
    background-color: white;
    background: rgba(255,255,255,0.7);
    height: 18rem;
    width: 35rem;
    margin-top: 7rem;
    border-radius: 15px;
}

#contact {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

#phone {
    display: flex;
    justify-content: center;
}

#email {
    display: flex;
    justify-content: center;
}

#oc {
    display: flex;
    justify-content: center; 
    font-size: 20px; 
    margin-top: 1rem;
    font-weight: 600;
}

#mission {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin-top: -14px;
    padding: 12px;
}


#form_div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    width: 50%;
}

#form_div input, #form_div textarea {
    background: rgba(255,255,255,0.7);
    border: none;
    padding: 8px;
    border-radius: 4px;
}

#form_div label {
    font-weight: bold;
}

#edit-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1_edit, #h1_add, #h1_tag{
    font-family: 'Cedarville Cursive', cursive;
    display: flex;
    justify-content: center;
    padding: 10vmin 10vmin 5vmin 10vmin;
    font-size: 10vmin;
}

.add-container {
    height: 180vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

#ed-but {
    color:black;
    background-color: white;
}

#ed-but:hover {
    color:rgb(0, 0, 0);
    background-color: rgb(230, 229, 229);
}
