.navbar-custom {
    background-color: rgb(215, 219, 220);
}

.navbar-text {
    color: black;
}

#navbarNavDropdown {
    justify-content: right;
}

.collapse {
    justify-content: left;
    /* margin-left: 3rem; */
}

.btn {
    border-color: black;
}

.home-body {
    overflow-y:hidden;
}

.search-set {
    display: flex;
    justify-content: left;
}

#search-bar {
    background-color: rgb(215, 219, 220); 
    border: 2px solid #fff; 
    box-shadow: none; 
    border-radius: 50px;
    font: rgb(1, 1, 1);
}

#search-button {
    background-color: rgb(215, 219, 220); 
    border: 2px solid #fff; 
    box-shadow: none; 
    border-radius: 50px;
    color: rgb(127, 127, 127);
}

.slogan {
    text-align: center;
    justify-content: center;
    margin-top: 4rem;
}

.pslogan {
    justify-content: center;
    text-align: center;
    margin-top: 12rem;
    font-size: 22px;
}

.home-container {
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-position: center;
}

.slogansss {
    display: grid;
    margin-top: -1.3rem;
    justify-content: center;
}

.slogan3 {
    font-size: 18px;
}

.form-table {
    display: inline-block;
}

.card-img-top {
    object-fit: fill; 
    object-position: center;
    width: 100%;
    max-height: 350px;
    padding: 30px;
}

.card {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 600px;
    /* margin-top: 1rem; */
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    text-overflow: ellipsis;
}

#detail-card.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 800px;
    width: 500px;
    margin-top: 1rem;
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
}

#detail-pic {
    align-items: center;
    margin-top: 2rem;
    max-width: 100%;
}

#detail-title {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 5rem;
}

.choose-file {
    width: 210px;
}

#file-upload-button {
    background-color:blue;
}